# .github/workflows/preview.yml
name: PR docs preview

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - 'docs/**'

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - uses: QuTech-Delft/GitHub-Actions/actions/docs/sphinx-docs-preview@master

